@import "normalize.scss";
// main options
body{
  background: rgb(56, 50, 46);
  /* background: #403e46; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}
a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
ul{
  list-style: none;
  padding: 0;
}
h2{
  margin: 0;
  padding: 50px 0;
}
h3{
  margin-top: 0;
}
.wraper{
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  &__body{
    margin-top: 30px;
    border-radius: 45px;
    overflow: hidden;
  }
}
.container{
  width: 90%;
  margin: 0 auto;
}
.section-title{
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
// HEADER ===================================
.logo{
  margin-top: 35px;
}
.header{
  background: linear-gradient(180deg, rgba(24, 28, 29, 0) 0%, #181C1D 100%), url(../img/header_bg.png) center top / cover no-repeat;
  &-bg{
    max-width: 1920px;
    margin:  auto;
    
  }
  &-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav{
  display: flex;
  justify-content: center;
  &-list{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    &__desktop{}
    &__mobile{
        flex-direction: column;
      }
  }
  &-link{
    &__desktop{
      display: block;
      padding: 40px 20px 10px 20px;
      transition: 0.5s;
      &:first-child{
        border-radius: 0 0 0 15px;
      }
      &:last-child{
        border-radius: 0 0 15px 0;
      }
      &:hover{
        background: rgba(255, 0, 0, 0.70);
      }
    }
  }
}

.touch-button{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 25px;
  text-align: center;
  &__header{
    margin-top: 60px;
  }
}
.title{
  &-wrap{
    width: 370px;
    height: 370px;
    position: relative;
    perspective: 1000px;
  }
  &-circle{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    /* width: 370px;
    height: 370px; */
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    transition: 1s;
    backface-visibility: hidden;
    &__front{
      &__active{
        transform: rotateY(180deg);
      }
    }
    &__back{
      transform: rotateY(180deg);
      &__active{
        transform: rotateY(360deg);
      }
    }
  }
  &-text{
    max-width: 235px;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin: 0;
    &::after{
      content: '';
      display: block;
      height: 1px;
      width: 200px;
      background: #C4C4C4;
      margin: 20px auto;
      
    }
  }
  &-subtitle{
    max-width: 235px;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
  }
}
.arrow{
  display: inline-block;
  padding: 50px 0;
  &-down{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    &__left{
      transform: rotate(45deg);
      margin-right: -5px;
    }
    &__right{
      transform: rotate(-45deg);
      margin-left: -5px;
    }
  }
}
.humburger{
  position: relative;
  width: 30px;
  height: 28px;
  &::before, &::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  &::before{
    top: 0;
  }
  &::after{
    bottom: 0;
  }
  &__active{
    &::before{
    transform: rotate(-45deg);
    top: 13px;
    }
    &::after{
      transform: rotate(45deg);
      bottom: 13px;
    }
  }
  &-wrap{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 13px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    &__active{
      left: 13px;
    }
  }
  &-item{
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #fff;
    &__active{
      display: none;
    }
  }
}

//advantages =======
.advantages{
  background: #1B1C1E;
  &-bg{
    height: 300px;
    background: #000;
  }
}
//portfolio =====
.portfolio{
  background: #181C1D;
  &-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &-item{
    box-sizing: border-box;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(228, 140, 34, 0.5); */
    border: 2px solid #fff;
  }
  &-image{
    width: 100%;
  }
}


@media screen and (max-width: 600px){
  .nav{
    padding-bottom: 15px;
    &-list{
      &__desktop{
        display: none;
      }
    }
  }
  .humburger-wrap{
    display: flex;
  }
}
@media screen and (max-width: 400px){
  .logo{
    width: 70%;
  }
  .title{
    &-wrap{
      width: 280px;
      height: 280px;
    }
    &-text{
      font-size: 16px;
      line-height: 140%;
    }
    &-subtitle{
      font-size: 13px;
      line-height: 140%;
    }
  }
  .humburger-wrap{
    width: 50px;
    height: 50px;
  }
  .advantages-card-icon{
    display: none;
  }
}